// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid{
  padding: 100px 0;
  display: flex;
  .letter{
    display: inline-block;
    justify-content: space-between;
    margin: 5px;
    font-size: 40px;
    text-align: center;
    width: 50px;
    padding: 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #EEE;
  }
}
.grid li{
  list-style-type: none;
}



